[ req ]
prompt                  = no
distinguished_name      = ca_distinguished_name
req_extensions          = ca_ext

[ ca_ext ]
basicConstraints        = critical,CA:TRUE
subjectKeyIdentifier    = hash
keyUsage                = critical,keyCertSign,cRLSign

[ ca_distinguished_name ]
