{% extends "base.html" %}
{% block content %}

 <p class="h4"> Clients` Certificates </p>   
<dev class="row">
 <dev class="col-4">
  <!-- <form method = 'POST'>  -->
   <div class="d-grid gap-2">
    {% for client in clients_list %}
     <a class="btn btn-secondary" href="{{ url_for('client_cert', file_name = client)}}">{{ client }}</a>
    {% endfor %}
   </div>
 <!-- </form> -->
     <a class="btn btn-success mx-auto btn-sm my-2" href="{{ url_for('clients_create') }}">Add a Client</a>
  </dev>
  <dev class="col-4">
   <div class="d-grid gap-2">
    {% for file in file_list %}
     <p class="">{{ file }}</p>
    {% endfor %}
   </div>   
  </dev>
</dev>

{% endblock %}