{% extends "base.html" %}

{% block content %}
<p class="h5">DataBase Status:</p>
<div class="row h6">
    <div class="col-1"> V/R/E </div>
    <div class="col-md-auto"> End Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </div>
    <div class="col-md-auto"> Revoke Date &nbsp&nbsp&nbsp&nbsp&nbsp</div>
    <div class="col-md-auto"> Serial Number &nbsp&nbsp&nbsp</div>
    <div class="col-md-auto"> File&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </div>
    <div class="col-md-auto"> Distinguished Name </div>
</div>

{% for string in index_list %}
<div class="row">
    {% for item in string %}
        {% if item == '' %}
            {% set item = '_________________' %}
        {% endif %}
        {% if loop.index0 == 0 %}
            <div class="col-1"> {{ item }} </div>
        {% else %}
            <div class="col-md-auto"> {{ item }} </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
<p class="h5 mt-4">Clients Certificates:</p>
<div class="row">
    <div class="col-3 h6"> Revoke Certificate: </div>
    <div class="col-2 h6"> Status: </div>
    <div class="col-2 h6"> Revocation Date: </div>
</div>

{% for client_cert in revokation_status_list %}
<div class="row">
    <div class="col-3">
    <div class="d-grid gap-2">
    <a class="btn btn-outline-dark disabled py-1"> {{ client_cert[0] }} </a>
    </div>
    </div>
    <div class="col-2">
        {% if client_cert[1] == 'V' %}
            Valid
        {% elif client_cert[1] == 'R' %}
            Revoked
        {% endif %}
    </div>
    <div class="col-2">{{ client_cert[2] }}</div>
</div>
{% endfor %}
    



{% endblock %}