{% extends "base.html" %}
{% block content %}

 <p class="h4"> Server Certificate </p>   
<dev class="row">
 <dev class="col-4">
  <form method = 'POST'>  
   <div class="d-grid gap-2">
    {% for server in server_list %}
     <button type="submit" name = "button_pressed" value= "{{ server }}" class="btn btn-secondary">{{ server }}</button>
    {% endfor %}
   </div>
  </form>
     <a class="btn btn-success mx-auto btn-sm my-2" href="{{ url_for('server_create') }}">Create New Server Certificate</a>
  </dev>
  <dev class="col-4">
    testing
  </dev>
</dev>

{% endblock %}