{% extends "base.html" %}

{% block content %}
<form method="POST">
<div class="row pt-2">

<div class="col-3"> 
  <button type="button"  class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#configOVPN">Config OpenVPN</button>
  <button type="submit" id= "copy_certs" name = "button_pressed" value="copy_certs" class="btn  btn-success">Copy Certs</button>
        <!-- Modals must be inside form !!! -->
        <!-- Modal for delete -->
        <div class="modal fade" id="configOVPN" tabindex="-1" aria-labelledby="configOVPNLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="configOVPNLabel">Server .conf file</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                HERE WILL BE TXT
                <textarea class="form-control" name="text" rows="10">{{config_file}}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id= "save_config" name = "button_pressed" value="save_config" class="btn  btn-success">Save Config</button>
                
              </div>
            </div>
          </div>
        </div>

</div>

<div class="col-3">
 <div class="d-grid gap-1">
  <button type="submit" id= "ovpn_start" name = "button_pressed" value="start" class="btn  btn-success">Start OpenVPN</button>
  <button type="submit" id= "ovpn_stop" name = "button_pressed" value="stop" class="btn  btn-danger">Stop OpenVPN</button>
  <button type="submit" id= "ovpn_restart" name = "button_pressed" value="restart" class="btn  btn-secondary">Restart OpenVPN</button>
</div>
</div>

</div>
</form>

<div class="row m-2">

<textarea rows="13">{{ovpn_status}}</textarea>
<!--{{ovpn_status}}!-->
</div>
{% endblock %}